

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@900&family=Josefin+Sans:wght@600&family=Poppins:wght@500&family=Rubik:wght@500&display=swap');

body::-webkit-scrollbar{
    background-color: #000;
    width: 5px;

}

body::-webkit-scrollbar-thumb{
    background-color: #44105e;
    
}

section {
    height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.home-container {
    padding-top: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boas-vindas {
    font-family:'Inter', sans-serif;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
}
.curso {
    font-family:'Inter', sans-serif;
    display: flex;
    /* justify-content: center; */
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}
.codigos{
    font-family:'Inter', sans-serif;
    display: flex;
    /* justify-content: center; */
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
}

.larissa{
    width: 300px;
    height: 330px;
}

.column{
    background-color: #292b2e80;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 15px;
    width: 300px;
}

.columns{
    padding-right: 80px;
}

.text{
    display: flex;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.numero{
    display: flex;
    justify-content: center;
    color: #9C47C6;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 23px;
    justify-content: center;
}

.icons{
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
}

.img-sobre{
    width: 600px;
    height: 500px;
    float: left;
}   



.sobre-container{
    padding-top: 30px;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-top: 200px;
}

.quem-sou{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    padding-top: 50px;
    padding-left: 100px;
}

.sobre-mim-text{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    display: flex;
    padding-top: 50px;
    width: 700px;
    align-items: center;
    justify-content: center;
    padding-left: 200px;
}

.quem-sou-eu{
    text-decoration: underline #9C47C6 ;
    padding-left: 200px;
    font-size: 80px;
    font-weight: bold;
}


.sobre-button {
    color: #FFF;
    border: #6D1499 solid 3px;
    border-radius: 50px;
    padding: 12px 26px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    background-color: #6e2792;
    float: right;
    margin-right: 850px;
    margin-top: 80px;
}

.sobre-button:hover {
    background-color: #9C47C6;
}

#sobre{
    background-color: rgb(27, 27, 27);
}

#skills{
    background-color: #000;
}

.progress-bar{
    /* vamos declarar nossa
      variável com o nome de
      "progress". Ela terá seu
      valor entre 0 e 100.
      */
    --progress: 50;
    height: 20px;
    padding: 5px;
    background-color: #ccc;
    display: flex;
    width: 800px;
    border-radius: 10px;
  }
  
  .progress-bar::before{
    content: "";
    /* aqui estamos chamando
      nossa variável. Como a
      largura do pseudo-elemento
      estará entre 0% e 100%, temos
      que converter o valor da nossa
      variável em porcentagem. Para
      isso, basta multiplicar por 1%.
      */
    width: calc(var(--progress) * 1%);
    background-color: #6D1499 ;
  }
.title{
    color: #FFF;
}  

.skills-title {
    display: flex;
    justify-content: center;
    font-size: 9.375rem;
    color: #9C47C6;
    text-shadow: -8px 0px 3px #6D1499;
    font-family: 'Rubik', sans-serif;
}

.skills-1 {
    height: 320px;
    width: 65%;
    /* gap: 10px 0px; */
    padding-left: 35px;
}

.skills-2 {
    height: 320px;
    width: 35%;
    align-items: flex-end;
    padding-right: 35px;
}

.skills {
    padding-top: 30px;
    /* padding-left: 19px; */
    display: flex;
    flex-direction: row;
}

.skills-name {
    font-size: 1.25rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFF;
    display: flex;
    padding-left: 150px;
}

.barrinha {
    height: 50px;
    width: 890px;
    padding-left: 150px;
}

.img-skills {
    height: 320px;
    width: 545px;
    padding-top: 70px;
    padding-right: 100px;
}

