@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;700;900&display=swap');

header {
    height: 80px;
    width: 100vw;
    position: fixed;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}

nav a {
    color: #FFF;
    font-size: 1.125rem;
    transition: 100ms;
    font-family: 'Inter', sans-serif;
}
nav a:hover {
    color: #9C47C6;
}

img {
    height: 60px;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-left: 10px;
    
}


.header-button {
    color: #FFF;
    border: #6D1499 solid 3px;
    border-radius: 50px;
    padding: 12px 26px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    background-color: #6e2792;
}

.header-button:hover {
    background-color: #9C47C6;
}
