@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700;900&display=swap');


section {
    height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    background-color: #000;
}

.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.boas-vindas {
    font-family:'Inter', sans-serif;
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
}
.curso {
    font-family:'Inter', sans-serif;
    display: flex;
    /* justify-content: center; */
    font-size: 3rem;
    font-weight: bold;
    color: #FFF;
}
.codigos{
    font-family:'Inter', sans-serif;
    display: flex;
    /* justify-content: center; */
    font-size: 20px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
}

.larissa{
    width: 200px;
    height: 230px;
}

.column{
    background-color: #292b2e80;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 15px;
    width: 300px;
}

.columns{
    padding-right: 80px;
}

.text{
    display: flex;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    justify-content: center;
}

.numero{
    display: flex;
    justify-content: center;
    color: #9C47C6;
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    justify-content: center;
}

.icons{
    width: 40px;
    height: 40px;
    display: flex;
}

.img-sobre{
    width: 600px;
    height: 500px;
    padding-left: 40px;
    float: left;
}   



.sobre-container{
    padding-top: 50px;
}

.quem-sou{
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    padding-top: 100px;
    
}

.sobre-mim-text{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    display: flex;
    padding-top: 50px;
    width: 600px;
}

.quem-sou-eu{
    text-decoration: underline #9C47C6 ;
}


.sobre-button {
    color: #FFF;
    border: #6D1499 solid 3px;
    border-radius: 50px;
    padding: 12px 26px;
    font-weight: bold;
    cursor: pointer;
    transition: 300ms;
    background-color: #6e2792;
    float: right;
    margin-right: 580px;
    margin-top: 100px;
}

.sobre-button:hover {
    background-color: #9C47C6;
}

